#moarfi-id{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72%;
    margin: 3rem 0;
}
#img-moarfi-id{
    width: 30%;
    height: 100%;
}
#img-moarfi-id img{
    width: 100%;
    height: 100%;
}
#text-moarfi-id{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    height: 27rem;
    padding: 0 3rem;
    word-wrap: break-word;
}

#text-moarfi-id p{
    width: auto ;
    word-wrap: break-word;
    line-height:2rem;
    font-size: medium;
    margin-top: 0;
    text-align: justify;
    font-family: 'Vazirmatn';
    color: grey;
}

#text-moarfi-id h3{
    color: grey;
    font-family: 'vazirmatn';
    margin-bottom: 2rem;
    text-align: center;
}

@media (max-width:768px){
    #moarfi-id{
        flex-direction: column-reverse;
        justify-content: center;
        height: 100%;
        margin: 0;   
        width: auto;
        max-width: 100%;
        overflow: hidden;
    }
    #text-moarfi-id{
        width: 80%;
        text-align: center;
        word-wrap: break-word;
        height: auto;
    }
    #img-moarfi-id img{
        width: 20rem;
        height: 30rem;
    }
    #img-moarfi-id {
        margin-top: 5px;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #text-moarfi-id p{
        font-size: medium;
    }
    #text-moarfi-id h3{
        font-size: large;
    }
}

@media (min-width:768px) and (max-width:1208px){
    #img-moarfi-id img{
        height: 20rem;
        margin: 0;
    }
    #text-moarfi-id p{
        word-wrap: break-word;
        line-height:1.3rem;
        font-size: large;
    }
}

