#header-id{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    color: #ffffff;
    text-decoration: none;
    padding:0.4rem 1rem;
    width: calc(100% - 2rem);
    background-image: linear-gradient(to right,#ecab60,#eb9e46);
    
}
#first-child-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin-left: 10%;
}
#second-child-header{
    display: flex;
    align-items: center;
}
.color-text{
    color: #ffffff;
    text-decoration: none;
 }
#buy-basket{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#buy-basket button{
    width: 2rem;
    height: 2rem;
    background-color: inherit;
    border: none;
    cursor: pointer;
}
#log{
    display: flex;
    justify-content: flex-end;
}

#nav-main ul{
    width: 40vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}
#nav-main:hover #header-id{
    background-color: #eb9e46;
}
.navli{
    padding: 0 0.5rem;
    margin: 0.5rem;
    font-family: inherit;
}
.fiShoppingCart-class{
    width: 100%;
    height: 100%;
}
.buttom-header-class{
    border: none;
    background-color: inherit;
}
.buttom-header-class:hover{
    color: black;
    cursor: pointer;
}

@media (max-width:768px) {
    .navli{
        padding: 0 0.1rem;
        margin: 0.2rem;
        font-size: small;
    }
    #header-id{
        flex-direction: column;
        overflow: hidden;
    }
    #first-child-header{
        justify-content: space-between;
        width: 90%;
    }
    #second-child-header{
        overflow: hidden;
        width: 100%;
        display: flex;
        /* align-items: flex-end; */
        justify-content: flex-end;
        padding-right: 6rem;
    }
    #nav-main ul{

        justify-content: space-evenly;
        width: 100%;
    }
}